{% extends 'index.html' %}

{% block content %}

<p>
    Banned Users
</p>

<div>
    <form method="post" action="banned" class="pure-form">
        {{ render_form("Create new ban", "Create", form) }}
    </form>
</div>

<strong>Global Bans</strong>
<table id="list-global-bans" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td data-priority="10">
                User Name
            </td>
            <td data-priority="100">
                ID
            </td>
            <td data-priority="90">
                Duration
            </td>
            <td data-priority="80">
                End time
            </td>
            <td data-priority="70">
                Time Left
            </td>
            <td data-priority="50">
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user_id, ban in globally.items() %}
        <tr>
            <td>
                {{ ban['name'] }}
            </td>
            <td>
                <small>{{ user_id }}</small>
            </td>
            <td>
                {{ ban['duration'] }}
            </td>
            <td class="timestamp">
                {{ ban['timestamp'] }}
            </td>
            <td class="timeleft">
                &nbsp;
            </td>
            <td>
                    {{ render_remove("banned/user/" + user_id, "") }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<strong>Channel Bans</strong>
<table id="list-channel-bans" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td data-priority="20">
                Channel Name
            </td>
            <td data-priority="100">
                Channel UUID
            </td>
            <td data-priority="10">
                User Name
            </td>
            <td data-priority="90">
                User ID
            </td>
            <td data-priority="80">
                Duration
            </td>
            <td data-priority="70">
                End time
            </td>
            <td data-priority="50">
                Time Left
            </td>
            <td data-priority="30">
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        {% for channel_id, channel in channels.items() %}
            {% for user_id, ban in channel['users'].items() %}
            <tr>
                <td>
                    {{ channel['name'] }}
                </td>
                <td>
                    <small>{{ channel_id }}</small>
                </td>
                <td>
                    {{ ban['name'] }}
                </td>
                <td>
                    <small>{{ user_id }}</small>
                </td>
                <td>
                    {{ ban['duration'] }}
                </td>
                <td class="timestamp">
                    {{ ban['timestamp'] }}
                </td>
                <td class="timeleft">
                    &nbsp;
                </td>
                <td>
                    {{ render_remove("banned/channel/" + channel_id + "/user/" + user_id, "") }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<strong>Room Bans</strong>
<table id="list-room-bans" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td data-priority="20">
                Room Name
            </td>
            <td data-priority="100">
                Room UUID
            </td>
            <td data-priority="10">
                User Name
            </td>
            <td data-priority="90">
                User ID
            </td>
            <td data-priority="80">
                Duration
            </td>
            <td data-priority="70">
                End Time
            </td>
            <td data-priority="50">
                Time Left
            </td>
            <td data-priority="30">
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        {% for room_id, room in rooms.items() %}
            {% for user_id, ban in room['users'].items() %}
            <tr>
                <td>
                    {{ room['name'] }}
                </td>
                <td>
                    <small>{{ room_id }}</small>
                </td>
                <td>
                    {{ ban['name'] }}
                </td>
                <td>
                    <small>{{ user_id }}</small>
                </td>
                <td>
                    {{ ban['duration'] }}
                </td>
                <td class="timestamp">
                    {{ ban['timestamp'] }}
                </td>
                <td class="timeleft">
                    &nbsp;
                </td>
                <td>
                    {{ render_remove("banned/room/" + room_id + "/user/" + user_id, "") }}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="static/custom/js/banned.js"></script>

{% endblock %}
