{% extends 'index.html' %}

{% block content %}

<p>
    Black List
</p>

<div>
    <form method="post" action="/blacklist/add" class="pure-form">
        <fieldset>
             <legend>Add words to black list</legend>
            {{ render_field(form.words) }}
            <p><input type="submit" value="Add" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<table id="list-words" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>
                Word
            </td>
            <td>
                Action
            </td>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td>
                {{ word.word }}
            </td>
            <td>
                {{ render_remove("/blacklist/" + word.id|string + "/delete", "") }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="static/custom/js/blacklist.js"></script>

{% endblock %}
