{% extends 'index.html' %}

{% block content %}

<p>
    Broadcast
</p>

<div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</div>

<div>
    <form id="send-broadcast" method="post" action="{{ config.ROOT_URL }}send-broadcast" class="pure-form">
        <fieldset>
             <legend>Broadcast message to everyone</legend>
            {{ render_field(form.verb) }}<br />
            {{ render_field(form.body) }}
            <br /><br />
            <p><input type="submit" value="Send" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<script type="text/javascript" src="{{ config.ROOT_URL }}static/custom/js/broadcast.js"></script>

{% endblock %}
