{% extends 'index.html' %}

{% block content %}

<p>
    Channels
</p>

<div>
    <form method="post" action="{{ config.ROOT_URL }}create/channel" class="pure-form">
        <fieldset>
             <legend>Create new channel</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.owner) }}
            <p><input type="submit" value="Create" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<table id="list-channels" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>
                Sort order
            </td>
            <td>
                Name
            </td>
            <td>
                UUID
            </td>
        </tr>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <td>
                {{ channel.sort }}
                {{ render_edit(config.ROOT_URL + "/channel/" + channel.uuid + "/sort") }}
            </td>
            <td>
                <a class="channel-link" href="{{ config.ROOT_URL }}channel/{{ channel.uuid }}/rooms">{{ channel.name }}</a>
                {{ render_rename(config.ROOT_URL + "/channel/" + channel.uuid + "/rename") }}
            </td>
            <td>
                <small>{{ channel.uuid }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="{{ config.ROOT_URL }}static/custom/js/channels.js"></script>

{% endblock %}
