{% extends 'index.html' %}

{% block content %}

<p>
    Channels
</p>

<div>
    {% from "forms/_formhelpers.html" import render_field %}
    <form method="post" action="/create/channel" class="pure-form">
        <fieldset>
             <legend>Create new channel</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.owner) }}
            <p><input type="submit" value="Create" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<table id="list-channels" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                UUID
            </td>
        </tr>
    </thead>
    <tbody>
        {% for channel in channels %}
        <tr>
            <td>
                <a class="channel-link" href="/channel/{{ channel.uuid }}/rooms">{{ channel.name }}</a>
            </td>
            <td>
                <small>{{ channel.uuid }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="/static/custom/js/channels.js"></script>

{% endblock %}
