<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <meta http-equiv=X-UA-Compatible content="ie=edge">
  <meta name=base content={{ config.ROOT_URL }}>
  <meta name=environment content={{ environment}}>
  <meta name=version content={{ version }}>
  <title>Dino Admin</title>
  <link href={{ config.ROOT_URL }}/static/css/app.7f19e55583a5b356cb70638df2999a47.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  {% if config.FLOATING_MENU == True %}
  <script src=/static/js/rhum.js></script>
  {% endif %}
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/manifest.0bfc913cd41149125b55.js></script>
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/vendor.f7644f19be1863c3cc1a.js></script>
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/app.d01d17f5ffa1f3221bf0.js></script>
</body>
