<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=viewport content="width=device-width,initial-scale=1">
  <meta http-equiv=X-UA-Compatible content="ie=edge">
  <meta name=base content={{ config.ROOT_URL }}>
  <meta name=environment content={{ environment}}>
  <meta name=version content={{ version }}>
  <title>Dino Admin</title>
  <link href={{ config.ROOT_URL }}/static/css/app.3a287109e34ccc87ab0db37d8d07e206.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  {% if config.FLOATING_MENU == True %}
  <script src=/static/js/rhum.js></script>
  {% endif %}
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/manifest.a405c8b5f55023f57c99.js></script>
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/vendor.04e523846775926c1ed3.js></script>
  <script type=text/javascript src={{ config.ROOT_URL }}/static/js/app.d192822a458921e826fd.js></script>
</body>
