<div id="menubar" class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <ul class="pure-menu-list">
        <li id="show-channels" class="pure-menu-item"><a href="{{ config.ROOT_URL }}channels" class="pure-menu-link">Channels</a></li>
        <li id="show-users" class="pure-menu-item"><a href="{{ config.ROOT_URL }}users" class="pure-menu-link">Users</a></li>
        <li id="show-history" class="pure-menu-item"><a href="{{ config.ROOT_URL }}history" class="pure-menu-link">Message History</a></li>
        <li id="show-broadcast" class="pure-menu-item"><a href="{{ config.ROOT_URL }}broadcast" class="pure-menu-link">Broadcast</a></li>
        <li id="show-banned" class="pure-menu-item"><a href="{{ config.ROOT_URL }}banned" class="pure-menu-link">Banned Users</a></li>
        <li id="show-blacklist" class="pure-menu-item"><a href="{{ config.ROOT_URL }}blacklist" class="pure-menu-link">Black Listed Words</a></li>
    </ul>
</div>