{% extends 'index.html' %}

{% block content %}

<p>
    <a href="/channels">Channels</a> / {{ channel_name }}
</p>


<div class="pure-g">
    <div class="pure-u-1 pure-u-xl-1-3 pure-u-md-1-2">
        <strong>Channel Information</strong>
        <table class="pure-table" style="width: 95%;">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>UUID</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ channel_name }}</td>
                    <td><small>{{ channel_uuid }}</small></td>
                    <td>
                        <a class="pure-button" href="#">
                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
                            Rename
                        </a>
                        <a class="pure-button btn-danger" href="#">
                            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp;
                            Remove
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="form-toggler">
            <a class="pure-button button-secondary toggle-form" href="#">
                <i class="fa fa-caret-square-o-right fa-fw" aria-hidden="true"></i>&nbsp;
                <span>Show forms</span>
            </a>
        </div>

        <div class="pure-g form-container" style="width: 95%;">
            <div class="pure-u-1 pure-u-lg-1-3 pure-u-md-1-2">
                <br />
                {% from "_formhelpers.html" import render_field %}
                <form method="post" action="/channel/{{ channel_uuid }}/add/owner" class="pure-form pure-form-stacked">
                    <fieldset>
                         <legend>Add owner</legend>
                        {{ render_field(owner_form.uuid) }}
                        <p><input type="submit" value="Add" class="pure-button pure-button-primary" /></p>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1 pure-u-lg-1-3 pure-u-md-1-2">
                <br />
                {% from "_formhelpers.html" import render_field %}
                <form method="post" action="/channel/{{ channel_uuid }}/add/admin" class="pure-form pure-form-stacked">
                    <fieldset>
                         <legend>Add admin</legend>
                        {{ render_field(admin_form.uuid) }}
                        <p><input type="submit" value="Add" class="pure-button pure-button-primary" /></p>
                    </fieldset>
                </form>
            </div>
            <div class="pure-u-1 pure-u-lg-1-3">
                <br />
                {% from "_formhelpers.html" import render_field %}
                <form method="post" action="/channel/{{ channel_uuid }}/create/acl" class="pure-form pure-form-stacked">
                    <fieldset>
                         <legend>Add permission</legend>
                        {{ render_field(acl_form.acl_type) }}
                        {{ render_field(acl_form.acl_value) }}
                        <p><input type="submit" value="Add" class="pure-button pure-button-primary" /></p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="pure-u-1 pure-u-xl-2-3 pure-u-md-1-2">
        <div class="pure-g">
            <div class="pure-u-1 pure-u-xl-1-2">
                <strong>Permissions</strong>
                <table class="pure-table" style="width: 95%;">
                    <thead>
                        <tr>
                            <td>Type</td>
                            <td>Value</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acl in acls %}
                            <tr>
                                <td>{{ acl.type }}</td>
                                <td><small>{{ acl.value }}</small></td>
                                <td>
                                    <a class="pure-button" href="#">
                                        <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
                                        Edit
                                    </a>
                                    <a class="pure-button btn-danger remove-button" href="#">
                                        <input type="hidden" class="remove-url" value="/channel/{{ channel_uuid }}/acl/{{ acl.type }}" />
                                        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp;
                                        Remove
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pure-u-1 pure-u-xl-1-2">
                <div class="pure-u-1">
                    <strong>Owners</strong>
                    <table class="pure-table" style="width: 95%;">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>ID</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for owner in owners %}
                                <tr>
                                    <td>{{ owner.name }}</td>
                                    <td><small>{{ owner.uuid }}</small></td>
                                    <td>
                                        <a class="pure-button btn-danger remove-button" href="#">
                                            <input type="hidden" class="remove-url" value="/channel/{{ channel_uuid }}/remove/owner/{{ owner.uuid }}" />
                                            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp;
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="pure-u-1">
                    <br />
                    <strong>Admins</strong>
                    <table class="pure-table" style="width: 95%;">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>UUID</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.name }}</td>
                                    <td><small>{{ admin.uuid }}</small></td>
                                    <td>
                                        <a class="pure-button btn-danger remove-button" href="#">
                                            <input type="hidden" class="remove-url" value="/channel/{{ channel_uuid }}/remove/admin/{{ admin.uuid }}" />
                                            <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>&nbsp;
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div>
    {% from "_formhelpers.html" import render_field %}
    <form method="post" action="/channel/{{ channel_uuid }}/create" class="pure-form">
        <fieldset>
             <legend>Create new room</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.owner) }}
            <p><input type="submit" value="Create" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<table id="list-rooms" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                UUID
            </td>
        </tr>
    </thead>
    <tbody>
        {% for room in rooms %}
        <tr>
            <td>
                <a class="rooms-link" href="/channel/{{ channel_uuid }}/room/{{ room.uuid }}">{{ room.name }}</a>
            </td>
            <td>
                <small>{{ room.uuid }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" src="/static/custom/js/rooms_in_channel.js"></script>

{% endblock %}
