{% extends 'index.html' %}

{% block content %}

<p><strong>Super Users</strong></p>

<div>
    <form method="post" action="create/super-user" class="pure-form">
        <fieldset>
             <legend>Create new super user</legend>
            {{ render_field(form.name) }}
            {{ render_field(form.uuid) }}
            <p><input type="submit" value="Create" class="pure-button pure-button-primary" /></p>
        </fieldset>
    </form>
</div>

<table id="list-superusers" class="display responsive" cellspacing="0" width="100%">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                ID
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in superusers %}
        <tr>
            <td>
                <a class="user-link" href="/user/{{ user.uuid }}">{{ user.name }}</a>
            </td>
            <td>
                <small>{{ user.uuid }}</small>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <form>
        <fieldset>
            <label for="search-user">
                Search by name or ID
                <input type="text" id="search-user"/>
            </label>
        </fieldset>
    </form>
</div>

<div id="user-results">
    <table id="user-results-table" class="display responsive" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody id="user-results-body">
        </tbody>
    </table>
</div>

<script type="text/javascript" src="static/custom/js/users.js"></script>

{% endblock %}
