<html>
    <head>
        <title>Dino</title>

        <link rel="stylesheet" type="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/jquery.dataTables.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/switchery.min.css">
        <link rel="stylesheet" ype="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/font-awesome.min.css">
        <link rel="stylesheet" href="{{ config.ROOT_URL }}/staticv/base-min.css">
        <link rel="stylesheet" href="{{ config.ROOT_URL }}/staticv/pure-min.css">
        <link rel="stylesheet" href="{{ config.ROOT_URL }}/staticv/grids-responsive-min.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/jquery-ui.min.css"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ config.ROOT_URL }}/staticv/jquery-ui-timepicker-addon.min.css"/>

        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/moment.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/jquery-2.2.2.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/jquery.confirm.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/datatables.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/switchery.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="{{ config.ROOT_URL }}/staticv/jquery-ui-timepicker-addon.min.js"></script>

        <script type="text/javascript" src="{{ config.ROOT_URL }}/static/custom/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ config.ROOT_URL }}/static/custom/css/style.css" />
    </head>
    <body>
        <h1>Dino Admin Interface</small></h1>
        {% from "forms/_buttons.html" import render_remove %}
        {% from "forms/_buttons.html" import render_rename %}
        {% from "forms/_buttons.html" import render_edit %}
        {% from "forms/_buttons.html" import render_ban %}
        {% from "forms/_buttons.html" import render_kick %}
        {% from "forms/_formhelpers.html" import render_field %}
        {% from "forms/_formhelpers.html" import render_form %}

        {% include 'menu.html' %}
        {% include 'forms/forms.html' %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>