activitystreams==0.2.1
amqp==2.5.2
aniso8601==8.0.0
appdirs==1.4.4
attrs==19.3.0
black==19.10b0
cassandra-driver==3.23.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
codecov==2.1.3
coverage==5.1
dnspython==1.16.0
emoji==0.5.4
eventlet==0.25.2
fakeredis==1.4.1
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-SocketIO==4.3.0
geomet==0.1.2
gitdb==4.0.5
GitPython==3.1.2
greenlet==0.4.15
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kafka-python==2.0.1
kombu==4.6.8
MarkupSafe==1.1.1
monotonic==1.5
mysqlclient==1.4.6
nose==1.3.7
numpy==1.18.4
oauthlib==3.1.0
parameterized==0.7.4
pathspec==0.8.0
psutil==5.7.0
psycogreen==1.0.2
psycopg2==2.8.5
pymitter==0.2.3
python-dateutil==2.8.1
python-engineio==3.13.0
python-socketio==4.6.0
pytz==2020.1
PyYAML==5.3.1
raven==6.10.0
redis==3.5.2
regex==2020.5.14
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
smmap==3.0.4
sortedcontainers==2.1.0
SQLAlchemy==1.3.17
statsd==3.3.0
strict-rfc3339==0.7
threadpoolctl==2.0.0
toml==0.10.1
typed-ast==1.4.1
urllib3==1.25.9
vine==1.3.0
Werkzeug==1.0.1
xgboost==1.1.0
Yapsy==1.12.2
