<html>
    <head>
        <title>Flask-SocketIO-Chat: {{ room }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

                socket.on('connect', function() {
                    socket.emit('user_connection', {user_id: '{{ user_id }}'});
                });

                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('history', function(response) {
                    data = response.history
                    $('#chat').val('');
                    for (i = 0; i < data.length; i++) {
                        $('#chat').val($('#chat').val() + data[i].timestamp + ' - ' + data[i].origin + ': ' + data[i].msg + '\n');
                    }
                    console.log(data);
                });

                socket.on('user-connected', function(data) {
                    console.log(data);
                    if ($('a#online-user-' + data.target).length > 0) {
                        return;
                    }

                    $('#online').html($('#online').html() + '<a href="#" id="online-user-' + data.target + '">' + data.target + '</a> ');

                    $('a#online-user-' + data.target).click(function() {
                        $('#target').val($(this).text());
                        $('#private').attr('checked', true);
                        socket.emit('view', {target: $(this).text(), actor: '{{ user_id }}'});
                    });
                });

                socket.on('user-disconnected', function(data) {
                    console.log(data);
                    $('a#online-user-' + data.target).remove();
                });

                socket.on('message', function(data) {
                    console.log(data);

                    if (data.action == 'user_joined') {
                        $('#users_in_room').html($('#users_in_room').html() + ' <a href="#" id="user-' + data.actor + '" class="user">' + data.actor + '</a>');
                        $('#chat').val($('#chat').val() + '<< ' + data.actor + ' has joined the room >>\n');

                        $('a#user' + data.actor).click(function() {
                            $('#target').val($(this).text());
                            $('#private').attr('checked', true);
                            socket.emit('view', {target: $(this).text(), actor: '{{ user_id }}'});
                        });
                    }
                    else if (data.action == 'user_left') {
                        $('a#user-' + data.actor).remove();
                        $('#chat').val($('#chat').val() + '<< ' + data.actor + ' has left the room >>\n');
                    }
                    else {
                        $('#chat').val($('#chat').val() + data.strftime + ' - ' + data.origin + ': ' + data.msg + '\n');
                        $('#chat').scrollTop($('#chat')[0].scrollHeight);
                    }
                });

                socket.on('sent', function(data) {
                    $('#chat').val($('#chat').val() + data.strftime + ' - ' + data.origin + ': ' + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('users_in_room', function(data) {
                    console.log(data);
                    users = data.users
                    if (users == null || users.length == 0) {
                        $('#chat').val('<new room created>');
                        return;
                    }
                    $('#users_in_room').html('');
                    for (i = 0; i < users.length; i++) {
                        console.log(users[i]);
                        $('#users_in_room').html('<a href="#" id="user-' + users[i] + '" class="user">' + users[i] + '</a>' + ' ' + $('#users_in_room').html());
                    }

                    $('a.user').click(function() {
                        $('#target').val($(this).text());
                        $('#private').attr('checked', true);
                        socket.emit('view', {target: $(this).text(), actor: '{{ user_id }}'});
                    });
                });

                socket.on('init', function(data) {
                    console.log(data);

                    rooms = data.rooms
                    users = data.users

                    $('#rooms').html('');
                    for (i = 0; i < rooms.length; i++) {
                        $('#rooms').html('<a href="#" class="room">' + rooms[i] + '</a>' + ' ' + $('#rooms').html());
                    }

                    $('#online').html('');
                    for (i = 0; i < users.length; i++) {
                        $('#online').html($('#online').html() + '<a href="#" id="online-user-' + users[i] + '">' + users[i] + '</a> ');
                    }

                    $('a.room').click(function() {
                        $('#chat').val('');
                        $('#target').val($(this).text());
                        $('#private').attr('checked', false);
                        socket.emit('join', {actor: '{{ user_id }}', room: $(this).text()});
                    })
                });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        user = $('#target').val();
                        $('#text').val('');

                        is_private = 'false';
                        if ($('#private').attr('checked')) {
                            is_private = 'true';
                        }

                        socket.emit('text', {msg: text, target: user, private: is_private, actor: '{{ room }}'});
                    }
                });

                $('a#leave').click(function() {
                    socket.emit('leave', {actor: '{{ user_id }}', room: $('#target').val()});
                    $('#users_in_room').html('')
                    $('#chat').val('');
                    $('#target').val('');
                });
            });
        </script>
    </head>
    <body>
        <h1>Flask-SocketIO-Chat: {{ room }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here and press enter to send" /><br><br>
        <input id="target" size="80" placeholder="target user/room" /><br><br>
        <input id="private" type="checkbox" /><br><br>

        Users in current room:
        <div id="users_in_room" style="margin: 5px; border: 1px solid black;"></div>

        All rooms:
        <div id="rooms" style="margin: 5px; border: 1px solid black;"></div>

        Online users:
        <div id="online" style="margin: 5px; border: 1px solid black;"></div>

        <a id="leave" href="#">Leave this room</a>
    </body>
</html>