<html>
    <head>
        <title>Notification System: {{ user_name }}</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

                socket.on('connect', function() {
                    socket.emit('user_info', {
                        verb: 'login',
                        actor: {
                            id: '{{ user_id }}',
                            summary: '{{ user_name }}'
                        }
                    });
                });

                socket.on('gn_connect', function(data) {
                    console.log(data);
                    socket.emit('list_rooms', {verb: 'list'});
                });

                socket.on('gn_status', function(data) {
                    $('#chat').val($('#chat').val() + '<< ' + data.msg + ' >>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('gn_room_list', function(data) {
                    console.log(data);

                    rooms = data.rooms

                    $('#rooms').html('');
                    for (i = 0; i < rooms.length; i++) {
                        room_name = rooms[i].split(':', 2)[1]
                        room_id = rooms[i].split(':', 2)[0]
                        $('#rooms').html('<a href="#" id="room-id-' + room_id + '" class="room">' + room_name + '</a>' + ' ' + $('#rooms').html());
                    }

                    $('a.room').click(function() {
                        room_id = $(this).attr('id').split('room-id-', 2)[1]
                        $('#chat').val('');
                        $('#target').val($(this).text());
                        $('#room-id').val(room_id);
                        $('#private').attr('checked', false);
                        socket.emit('join', {
                            actor: {
                                id: '{{ user_id }}',
                                summary: '{{ user_name }}'
                            },
                            verb: 'join',
                            target: {
                                id: room_id
                            }
                        });
                    })
                });

                socket.on('gn_users_in_room', function(data) {
                    console.log(data);
                    users = data.users;
                    $('#users_in_room').html('');
                    if (users == null || users.length == 0) {
                        $('#chat').val('<< new room created >>\n');
                        return;
                    }

                    for (i = 0; i < users.length; i++) {
                        console.log(users[i]);
                        user_id = users[i].split(':', 2)[0];
                        user_name = users[i].split(':', 2)[1];

                        if ($('#user-' + user_id).length > 0) {
                            continue;
                        }

                        $('#users_in_room').html('<a href="#" id="user-' + user_id + '" class="user">' + user_name + '</a>' + ' ' + $('#users_in_room').html());
                    }

                    $('a.user').click(function() {
                        $('#target').val($(this).text());
                        $('#private').attr('checked', true);
                        $('#room-id').val($(this).val().split('-', 2)[1])
                        $('#chat').val('<< chatting with ' + $(this).text() + ' >>\n');
                    });
                });

                socket.on('gn_user_connected', function(data) {
                    console.log(data);
                    if ($('a#online-user-' + data.actor.id).length > 0) {
                        return;
                    }

                    $('#online').html($('#online').html() + '<a href="#" id="online-user-' + data.actor.id + '">' + data.actor.summary + '</a> ');

                    $('a#online-user-' + data.actor.id).click(function() {
                        $('#target').val($(this).text());
                        $('#private').attr('checked', true);
                        $('#room-id').val($(this).val().split('-', 2)[1])
                        $('#chat').val('<< chatting with ' + data.actor.summary + ' >>\n')
                    });
                });

                socket.on('gn_user_disconnected', function(data) {
                    console.log(data);
                    $('a#online-user-' + data.actor.id).remove();
                    $('a#user-' + data.actor.id).remove();
                    $('#chat').val($('#chat').val() + '<< ' + data.actor.summary + ' has disconnected >>\n');
                });

                socket.on('gn_user_left', function(data) {
                    console.log(data);
                    $('a#user-' + data.actor.id).remove();
                    $('#chat').val($('#chat').val() + '<< ' + data.actor.summary + ' has left room ' + data.target.display_name + ' >>\n');
                });

                socket.on('gn_user_joined', function(data) {
                    console.log(data);

                    if ($('#user-' + data.actor.id).length > 0) {
                        return;
                    }

                    $('#chat').val($('#chat').val() + '<< ' + data.actor.summary + ' has joined room ' + data.target.display_name + ' >>\n');
                    $('#users_in_room').html($('#users_in_room').html() + ' <a href="#" id="user-' + data.actor.id + '" class="user">' + data.actor.summary + '</a>');

                    $('a#user-' + data.actor.id).click(function() {
                        $('#target').val(data.actor.summary);
                        $('#private').attr('checked', true);
                        $('#room-id').val($(this).val().split('-', 2)[1])
                        $('#chat').val('<< chatting with ' + data.actor.summary + ' >>\n')
                    });
                });

                socket.on('gn_message', function(data) {
                    console.log(data);
                    $('#chat').val($('#chat').val() + data.published + ' <' + data.actor.summary + '> ' + data.object.content + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('gn_sent', function(data) {
                    $('#chat').val($('#chat').val() + data.strftime + ' - ' + data.origin + ': ' + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                $('#text').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        text = $('#text').val();
                        room_name = $('#target').val();
                        room_id = $('#room-id').val();
                        $('#text').val('');

                        target_type = 'group';
                        if ($('#private').attr('checked')) {
                            target_type = 'private';
                        }

                        socket.emit('message', {
                            actor: {
                                id: '{{ user_id }}',
                                summary: '{{ user_name }}'
                            },
                            verb: 'send',
                            target: {
                                id: room_id,
                                display_name: room_name
                            },
                            object: {
                                content: text,
                                object_type: target_type
                            }
                        });
                    }
                });

                $('a#leave').click(function() {
                    socket.emit('leave', {
                        actor: {
                            id: '{{ user_id }}',
                            summary: '{{ user_name }}'
                        },
                        verb: 'leave',
                        target: {
                            id: $('#room-id').val()
                        }
                    });
                    $('#users_in_room').html('')
                    $('#chat').val('');
                    $('#target').val('');
                });
            });
        </script>
    </head>
    <body>
        <h1>Notification System: {{ user_name }}</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <input id="text" size="80" placeholder="Enter your message here and press enter to send" /><br><br>
        <input id="target" size="80" placeholder="target user/room" /><br><br>
        <input id="room-id" type="hidden" /><br><br>
        One-to-one? <input id="private" type="checkbox" /><br><br>

        Users in current room:
        <div id="users_in_room" style="margin: 5px; border: 1px solid black;"></div>

        All rooms:
        <div id="rooms" style="margin: 5px; border: 1px solid black;"></div>

        Online users:
        <div id="online" style="margin: 5px; border: 1px solid black;"></div>

        <a id="leave" href="#">Leave this room</a>
    </body>
</html>