body {
    padding: 10px;
}

.l-box {
    padding: 1em;
}

textarea {
    font-size: 90%;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

#menubar {
    height: 50px;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
}

.btn-danger {
    background: rgb(202, 60, 60);
    color: white;
}

.pure-button {
    font-size: 80%;
}

.button-secondary {
    color: white;
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-form fieldset {
    padding: .15em 0 .2em
}

.pure-form legend {
    font-size: 100%;
    font-weight: bold;
}

.pure-form {
    margin-bottom: 0em;
}

div.form-toggler {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 130%;
}

td.actions {
    width: 130px;
}

div#rename-form {
    display: none;
}

.ui-button-danger {
    color: #ffffff !important;
    background-color: #d9534f;
    border-color: #c9312c;
}

.ui-button-danger:hover {
    color: #ffffff !important;
    background-color: #d43f3a;
    border-color: #b42c27;
}

@media screen and (min-width: 64em) {
    .pure-form input, .pure-form select {
        width: 140px;
    }
}

@media screen and (max-width: 64em) {
    .pure-form input, .pure-form select {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    div.form-container {
        display: block;
    }
    div.form-toggler {
        display: none;
    }
}

@media screen and (max-width: 48em) {
    div.form-container {
        display: none;
    }
    div.form-toggler {
        display: block;
    }
}
